<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico  " type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/blogs.css">
    <title>Blogs</title>
</head>
<body>
    <%- include('layouts/header'); -%>
    <!-- Blog page -->
    <nav id="nav_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Dashboard</a></li>
            <%
            for( var blog of blogs ){
                %>
                <li><a href="/blog/<%= blog._id %>"><%= blog.topic %></a></li>
                <% 
            }
            %>    
        </ul>
    </nav>
    <main>
        <section>
            <%
            for( var blog of blogs ){
                if(blog._id == blogId){
                %>
            <h2><%= blog.topic %></h2>
            <p><%- blog.content %></p>
        </section>
        <aside>
            <img src="../images/<%= blog.image %>" alt="Food image" height="400" width="400">
            <%
        } 
        }
        %>   
        </aside>
    </main>
    <%- include('layouts/footer'); -%>
</body>
</html>