<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Words of Wisdom</title>
</head>
<body>
    <%- include('layouts/header'); -%>
    <!-- Main page -->
    <nav id="nav_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Dashboard</a></li>
            <%
            for( var blog of blogs ){
                %>
                <li><a href="/blog/<%= blog._id %>"><%= blog.topic %></a></li>
                <% 
            }
            %>
        </ul>
    </nav>
    <main>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi vero voluptate dolore. Numquam quis veniam modi maiores nostrum soluta doloribus officiis mollitia quibusdam nesciunt eligendi eos, cum facilis. Hic quidem veritatis quisquam odio eum non, pariatur ipsum, inventore asperiores corporis, aliquam mollitia ex. Commodi eligendi distinctio delectus dolorum. Nam rerum quisquam blanditiis doloremque explicabo quasi quod deleniti quidem modi alias unde est laborum, enim aspernatur.</p>
    </main>
    <%- include('layouts/footer'); -%>
</body>
</html>