<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Status</title>
</head>
<body>
    <header>
        <img src="../images/logo.png" alt="Logo" height="100" weight="100">
		<h2>Words of Wisdom</h2>
		<h3>Chase the stories</h3>
        <p><%= welcome %></p>
    </header>
    <!-- Status page  -->
    <nav id="nav_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="add">Add Page</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h2 class="message"><%= message %></h2>
    </main>
    <%- include('layouts/footer'); -%>
</body>
</html>