* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fredoka One', cursive;
    background-image: url(../images/background1.jpeg);
    background-size: cover;
    font-size: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	padding: 1em 0 3.5em;
}

header img {
	float: left;
	padding: 0 30px;
}

header h2 {
    font-size: 32px;
    color: white;
}

header h3 {
    color:lightskyblue;
}

main {
	clear: left;
}

#nav_menu {
    display: table;
    margin: 0 auto;   
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
li{
    list-style-type: none;
    display: inline-block;
    width: auto;
    min-width: 190px;
    margin: 0 auto;
}
li a {
    text-decoration: none;
    color: lightyellow;
    background-color: coral;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

a:hover {
    background-color: orangered;
}

main h2 {
    padding: 1em;
    color: lightseagreen;
}
main p {
    text-align: justify;
    padding: 0 1em;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 4px black;
    text-indent: 70px;
    margin-bottom: 20px;
}
section {
    float: left;
    width: 65%;
}

aside {
    float: left;
    width: 30%;
    margin-top: 6.2em;
    margin-left: 3em;
    /* margin: 1em; */
}
footer {
    clear: both;
    background-color: green;
    color: white;
    padding: 0.65em 0;
    width: 100%;
    text-align: center;
}
