* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fredoka One', cursive;
    background-image: url(../images/background1.jpeg);
    background-size: cover;
    font-size: 100%;
	width: 100%;
	margin: 0 auto;
}

header {
	padding: 1em 0 3.5em;
}

header img {
	float: left;
	padding: 0 30px;
}

header h2 {
    font-size: 32px;
    color: white;
}

header h3 {
    color:lightskyblue;
}

main {
	clear: left;
}

#nav_menu {
    display: table;
    margin: 0 auto;   
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
li{
    list-style-type: none;
    display: inline-block;
    width: auto;
    min-width: 200px;
    margin: 0 auto;
}
li a {
    text-decoration: none;
    color: lightyellow;
    background-color: coral;
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

li a:hover {
    background-color: orangered;
}

main h2 {
    text-align: center;
    margin: 30px auto;
    color: white;
}

header p {
    margin-right: 30px;
    float: right;
    font-size: 20px;
    color: green;
}

.message {
    margin-top: 100px;
}
footer {
    background-color: #563928;
    color: white;
    padding: 0.65em 0;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
}
form {
    display: block;
    margin: 30px auto;
    width: 580px;
    height: 200px;
    border: 2px solid white;
    padding: 2em;
    background-image: url(../images/login.jpeg);
}
form label {
    color: white;
    width: 280px;
    height: 40px;
    display: inline-block;
}

form input {
    width: 280px;
    height: 35px;
    text-align: center;
}
form input[type="submit"] {
    display: block;
    margin: 0 auto;
    align-items: center;
    width: 305px;
    height: 40px;
    font-size: 14px;
    background-color:blanchedalmond;
}
form p {
    text-align: center;
    color: red;
}
.blogData {
    text-align: center;
    display: block;
    margin: 20px auto;
    color: white;
    width: 45%;
}

table {
    padding: 10px;
    border-collapse: collapse;
    background-color: black;
}
th, td, tr{
    border: 1px solid white;
    padding: 10px;
    border-collapse: collapse;
    font-size: 16px;
    width: 455px;
    text-align: center;
}

th {
    color:aquamarine;
}
table a {
    color: white;
}